<script type="text/javascript">
  //
  $(document).ready(
      function() {
        updateImages();
        startUpdatingImages();
      });
</script>

<div id="image-container">
  <div id="images"></div>
</div>

<div id="target-container">
  <div id="target"></div>
</div>
